<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                           ng-model="user.password">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-lg-2 control-label">Phone</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="user.phone">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPass" class="col-lg-2 control-label">Confirm Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Towns</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" ng-options="town.id as town.name for town in towns"
                            ng-model="user.townId">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="register(user)">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>